/* Light mode */
@media (prefers-color-scheme: light) {

    body > header {
        background-color: #ffffff;
        color: #000000;
        border-bottom: 1px solid #000000;
    }

    body > header a {
        color:#000000;
    }

    body > header h1 {
        color: #595cff;
    }

    #mobile-header-button {
        color:#000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {

    body > header {
        background-color: #343434;
        color:#ffffff;
    }

    body > header a {
        color:#ffffff;
    }

    body > header h1{
        color: #6fffe9;
    }

    #mobile-header-button {
        color: #ffffff;
    }
}

/* Phones */
@media (min-width: 0px) {

    #mobile-header-button {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
    }

    body > header ul{
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 1.3rem;
    }

    body > header ul li {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #main-nav:not(.open)
    {
        display: none;
    }
}

/* Desktops */
@media (min-width: 992px) {

    #main-nav:not(.open)
    {
        display: block;
    }

    #mobile-header-button {
        display:none;
    }

    body > header h1 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    body > header ul {
        text-align: left;
        display:grid;
        grid-template-columns: 0.2fr 0.1fr 0.1fr;
        grid-template-rows: none;
    }

    body > header ul li{
        padding-top: 0;
        padding-bottom: 0;
    }

    body > header h1:hover {
        text-decoration: underline;
    }
}

/* General */

body > header {
padding:1rem;
}

body > header a {
text-decoration: none;
}

body > header a {
text-decoration: none;
}

body > header a:hover {
text-decoration: underline;
}