@import "reset.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "_header.css";

.sr-only {
display: none;
}

body {
font-family: Arial, sans-serif;
}